{:source-paths ["src" "test"]

 :dependencies [[reagent "1.1.0"]
                [re-frame "1.2.0"]
                [binaryage/devtools "1.0.3"]
                [com.teknql/shadow-cljs-tailwind-jit "0.2.2"]
                [metosin/malli "0.6.2"]
                [utilities "0.1.0-SNAPSHOT"]
                [cljc.java-time "0.1.16"]
                [cljsjs/js-joda-timezone "2.2.0-0"]
                [day8.re-frame/http-fx "0.2.3"]
                [day8.re-frame/async-flow-fx "0.3.0"]
                [metosin/reitit "0.5.15"]]

 :dev-http {8280 "resources/public"
            8290 "target/browser-test"}

 :nrepl {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"

        :modules {:app {:init-fn service.frontend.core/init}}

        :devtools {:http-root "resources/public/" #_"Must be set to infer default purge targets."
                   :http-port 8700
                   :preloads []}
        :dev {:compiler-options {:closure-defines {}}
              :build-hooks [(teknql.tailwind/start-watch!)]}

        :release
        {:build-hooks [(teknql.tailwind/compile-release!)]}

        :tailwind/output "resources/public/css/site.css"

        #_"Automatically encodes kebab cased keys into camel cased."
        :tailwind/config
        {:mode "jit"
         :theme {:extend {:animation {:bounce-200 "bounce 1s infinite 200ms"
                                      :bounce-400 "bounce 1s infinite 400ms"}
                          :transform ["hover"]
                          :box-shadow {:3xl "0 25px 25px -10px rgba(0, 0, 0, 0.35)"}}}}}}}
