{:source-paths ["src" "test"]

 :dependencies [[reagent "1.1.0"]
                [re-frame "1.2.0"]
                [binaryage/devtools "1.0.3"]
                [com.teknql/shadow-cljs-tailwind-jit "0.2.2"]
                [metosin/malli "0.6.2"]
                [utilities "0.1.0-SNAPSHOT"]]

 :dev-http {8280 "resources/public"
            8290 "target/browser-test"}

 :nrepl {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"

        :modules {:app {:init-fn service.frontend.core/init}}

        :devtools {:http-root "resources/public/" #_"Must be set to infer default purge targets."
                   :http-port 8700
                   :preloads []}
        :dev {:compiler-options {:closure-defines {}}
              :build-hooks [(teknql.tailwind/start-watch!)]}

        :release
        {:build-hooks [(teknql.tailwind/compile-release!)]}

        :tailwind/output "resources/public/css/site.css"
        
        :tailwind/config {:mode "jit"}}}}
