**/*.iml
**/.DS_Store
**/.idea

**/target/
**/classes/
**/checkouts/
**/profiles.clj
**/pom.xml
**/pom.xml.asc
**/*.jar
**/*.class
**/.lein-*
**/.nrepl-port
**/.prepl-port
**/.hgignore
**/.hg/

**/.lein-deps-sum
**/.lein-repl-history
**/.lein-plugins/
**/.repl
**/.rebel_readline_history

**/.calva/
**/out/
_doc/
**/.cache/
**/cljs-out/
**/.clj-kondo/

**/resources/public/js/compiled/
**/*-init.clj
**/*.log
**/node_modules/
**/.shadow-cljs/
