{:service.gateway.system/services
 {:rabbit-opts {:qname "utilities.api.stats"
                :amqp-url #profile {:local "amqp://guest:guest@localhost:8081"
                                    :docker "amqp://guest:guest@rabbitmq:5672"
                                    :heroku ""}}
  :cb-options {:failure-threshold-ratio [3 6]
               :delay-ms 10000}
  :client-id "gateway"
  :client-secret "gateway"
  :services-uri #profile #include "../services_uri.edn"}

 :service.gateway.system/app
 {:services #ig/ref :service.gateway.system/services
  :client-id #ref [:service.gateway.system/services :client-id]}

 :service.gateway.system/server
 {:app #ig/ref :service.gateway.system/app
  :server-options #profile {:local {:port 3001}
                            :docker {:port 3000}
                            :heroku {:port #long #env "PORT"}}}}
