{:service.book.system/db
 {:db-config #profile {:local {:dbtype "postgres"
                               :host "localhost"
                               :port 4000
                               :dbname "book_db"
                               :user "postgres"
                               :password "postgres"}
                       :docker {:dbtype "postgres"
                                :host "postgres"
                                :port 5432
                                :dbname "book_db"
                                :user "postgres"
                                :password "postgres"}
                       :heroku {:dbtype "postgres"
                                :host ""
                                :port 5432
                                :dbname ""
                                :user ""
                                :password ""
                                :uri ""}}}
 
 :service.book.system/services
 {:stats {:qname "utilities.api.stats"
          :amqp-url #profile {:local "amqp://guest:guest@localhost:8081"
                              :docker "amqp://guest:guest@rabbitmq:5672"
                              :heroku ""}}
  :cb-options {:failure-threshold-ratio [3 6]
               :delay-ms 10000}
  :client-id "book"
  :client-secret "book"
  :services-uri #profile #include "../services_uri.edn"}

 :service.book.system/app
 {:db #ig/ref :service.book.system/db
  :services #ig/ref :service.book.system/services
  :services-uri #ref [:service.book.system/services :services-uri]
  :client-id #ref [:service.book.system/services :client-id]}

 :service.book.system/server
 {:app #ig/ref :service.book.system/app
  :server-options #profile {:local {:port 3000}
                            :docker {:port 3000}
                            :heroku {:port #long #env "PORT"}}}}
